
@using OnlineDepartmentAutomationSystem.Models
@model StudentMetadata

@{
    ViewBag.Title = "T";
}

<style>
    #error{color: red;font-family: Arial;font-size: 19px}
</style>

@using(Html.BeginForm("AddNewStudent","Admin",FormMethod.Post, new { enctype = "multipart/form-data" }))

{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
 <span style="color: darkcyan;"> @ViewBag.successMsg </span>
    <fieldset>
        <legend>StudentInformation</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.StudentUniversityId)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.StudentUniversityId,new{@class="empty"})
            @Html.ValidationMessageFor(model => model.StudentUniversityId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Name,new{@class="empty"})
            @Html.ValidationMessageFor(model => model.Name)
        </div>

     

        <div class="editor-label">
            Department
        </div>
        <select name="d" id="dptId">
            <option value="">Select Department</option>
            @foreach (var i in ViewBag.d)
            {
                <option value="@i">@i</option>
            }
              
        </select>
       <span style="color: red;">@ViewBag.reMsg</span> 

        <div class="editor-label">
            Session
        </div>
         <div class="editor-field">
                     @Html.DropDownList("Session",new List<SelectListItem>
            {
                new SelectListItem{Text = "2005-2006",Value = "2005-2006"},
                new SelectListItem{Text = "2006-2007",Value = "2006-2007"},
                new SelectListItem{Text = "2007-2008",Value = "2007-2008"},
                new SelectListItem{Text = "2008-2009",Value = "2008-2009"},
                new SelectListItem{Text = "2009-2010",Value = "2009-2010"},
                new SelectListItem{Text = "2010-2011",Value = "2010-2011"},
                new SelectListItem{Text = "2011-2012",Value = "2011-2012"},
                new SelectListItem{Text = "2012-2013",Value = "2012-2013"},
                new SelectListItem{Text = "2013-2014",Value = "2013-2014"},
                new SelectListItem{Text = "2014-2015",Value = "2014-2015"},
                new SelectListItem{Text = "2015-2016",Value = "2015-2016"},
                new SelectListItem{Text = "2017-2018",Value = "2017-2018"},
                new SelectListItem{Text = "2019-2020",Value = "2019-2020"},
              
               
            },"Select Session",new{@class="empty"})
            @Html.ValidationMessageFor(model => model.Session)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Phone)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Phone,new{@class="empty"})
            @Html.ValidationMessageFor(model => model.Phone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            Gender
        </div>
       <div class="editor-field">
                     @Html.DropDownList("Gender",new List<SelectListItem>
            {
                new SelectListItem{Text = "Male",Value = "Male"},
                new SelectListItem{Text = "Female",Value = "Female"},
               
            },"Select Gender",new{@class="empty"})
            @Html.ValidationMessageFor(model => model.Gender)
        </div>

        <div class="editor-label">
            Nationality
        </div>
         <div class="editor-field">
                 @Html.DropDownList("Nationality",new List<SelectListItem>
            {
                new SelectListItem{Text = "Bangladeshi",Value = "Bangladeshi"},
                new SelectListItem{Text = "Nepali",Value = "Nepali"},
                  new SelectListItem{Text = "Indean",Value = "Indean"},
                   new SelectListItem{Text = "Pakistani",Value = "Pakistani"}
               
            },"Select Your Nationality",new{@class="empty"})
            @Html.ValidationMessageFor(model => model.Nationality)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PresentAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.PresentAddress,new{@class="empty"})
            @Html.ValidationMessageFor(model => model.PresentAddress)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ParmanentAddress)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.ParmanentAddress,new{@class="empty"})
            @Html.ValidationMessageFor(model => model.ParmanentAddress)
        </div>
              @Html.FileFor(model => model.File)
        <img alt="Field for image cutting" width="100"  id="preview" src="@Url.Content("~/Content/empty.png")" />

        <span style="color: red">* @ViewBag.imgReq  </span>
        <p>
            <input type="submit" value="Add Student" class="btn btn-info" id="stuAddButtId"/>

        </p>
       
    </fieldset>
}

<input type="text" value="@ViewBag.check" id="EmptyFieldId" style="visibility: hidden"/>

@section Scripts
{
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.imgareaselect.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.fancyupload.js")"></script>
    <script>
        var t = $("#setDpt").val();
    
  

    if ($("#EmptyFieldId").val() == 1) {

        $(".empty").attr('value', "");

    }
        

        $(document).ready(function () {
            initSelect();
        });
    </script>
}